<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Customers</title>
</head>
<body>

<div layout:fragment="content">
   
        <div class="container w3-card-4 w3-display-middle" style="width:50%;">
           
                <div class="w3-container w3-margin">
                    <h1>Customers</h1>
                    <p>List of customers</p>
                    
                    
                    
                    <input class="w3-button w3-black" type="button" value="Input Button">
                    
                    
					<button class="w3-button w3-grey">Button Button</button>
					
					
					<a href="https://www.w3schools.com" class="w3-button w3-blue">Link Button</a>
                
                
                
                
                
                
            </div>
        </div>
   
</div>

</body>
</html>