<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<style>
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: green;
	color: white;
	text-align: center;
}
</style>


<head>
<meta charset="UTF-8">

<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

</head>

<body>

	<!-- Main Navigation -->
	<div class="w3-container">
	
		<!-- Main Navigation-Bar -->
		<div class="w3-bar w3-black w3-border">

			<a th:href="@{/}" class="w3-bar-item w3-button w3-mobile">Home</a>
			<a	th:href="@{/customers}" class="w3-bar-item w3-button w3-mobile">Customers</a>
			<a th:href="@{/products}" class="w3-bar-item w3-button w3-mobile">Products</a>
			<a th:href="@{/buy}" class="w3-bar-item w3-button w3-mobile">Buy</a>

			<a onclick="document.getElementById('id01').style.display='block'"
					class="w3-bar-item w3-button w3-mobile w3-right">Log in</a>
			<a onclick="document.getElementById('id02').style.display='block'"
					class="w3-bar-item w3-button w3-mobile w3-right">My Cart</a>
			<input	type="text"
					class="w3-bar-item w3-input w3-white w3-mobile w3-right"
					placeholder="Search..">
			<button class="w3-bar-item w3-button w3-green w3-mobile w3-right">Go</button>
		</div>

		<!-- Login form -->
		<div id="id01" class="w3-modal">
			<div class="w3-modal-content w3-card-4 w3-animate-zoom"
				style="max-width: 600px">

				<!-- Login form Image Header -->
				<div class="w3-center">
					<br> <span
						onclick="document.getElementById('id01').style.display='none'"
						class="w3-button w3-xlarge w3-transparent w3-display-topright"
						title="Close Modal">×</span> <img th:src="@{/img/img_avatar4.png}"
						alt="Avatar" style="width: 30%" class="w3-circle w3-margin-top">
				</div>

				<!-- Login form Body Username&Password -->
				<form class="w3-container" action="login">
					<div class="w3-section">
						<label><b>Username</b></label> <input
							class="w3-input w3-border w3-margin-bottom" type="text"
							placeholder="Enter Username" name="usrname" required> <label>
							<b>Password</b>
						</label> <input class="w3-input w3-border" type="text"
							placeholder="Enter Password" name="psw" required>
						<button class="w3-button w3-block w3-green w3-section w3-padding"
							type="submit">Login</button>
						<input class="w3-check w3-margin-top" type="checkbox"
							checked="checked"> Remember me
					</div>
				</form>

				<!-- Login form footer Forgot Password-->
				<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
					<button
						onclick="document.getElementById('id01').style.display='none'"
						type="button" class="w3-button w3-red">Cancel</button>
					<span class="w3-right w3-padding w3-hide-small">Forgot <a
						href="#">password?</a></span>
				</div>

			</div>
		</div>
		
		
		<!-- Cart info -->
		<div id="id02" class="w3-modal">
			<div class="w3-modal-content">
				<div class="w3-container">
					<span
						onclick="document.getElementById('id02').style.display='none'"
						class="w3-button w3-display-topright">&times;</span>
					<p>Your id session is: 15611354BGET5GG</p>
					<p>Your name is: Alan Smith</p>
					<p>Total by: 156,50€</p>
					<p>Status: CREATED</p>
				</div>
			</div>
		</div>
	</div>



	<!-- Content Section -->
	<section layout:fragment="content">
		<p>This is filled by the content template.</p>
	</section>

	<!-- Footer -->
	<footer>
		<div class="footer">
			<p>2020 Java Spring with Layout Thymeleaf. All rights reserved.</p>
		</div>
	</footer>

	<!-- Optional Section -->
	<th:block layout:fragment="optional" />

</body>


</html>