<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<h3>Clients list</h3>
<table>

	<tr th:each="client:${clients}">
		<td th:text="${client.id}"></td>
		<td th:text="${client.firstName}"></td>
		<td th:text="${client.lastName}"></td>
		
		
	</tr>

</table>
<Br><Br><Br><Br>
<div>
		<table>
			<tr>

				<td><a th:href="@{/products/show}">Product List</a></td>
				<td><a th:href="@{/cart/show}">My cart</a></td>
				<td><a th:href="@{/creditcards/addCreditCard}">Add Card</a></td>
				<td><a th:href="@{/customers/addCustomer}">Add Client</a></td>
				<td><a th:href="@{/creditcards/show}">List of Cards</a></td>
				<td><a th:href="@{/customers/show}">List of clients</a></td>
			</tr>
		</table>
	</div>
</html>